<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relative Url Templates</title>
</head>
<body>
    <h1>Relative Url Templates</h1>
    <a href="{% url 'index' %}">Back to Home</a>



    <a href="{% url 'appone:other' %}">The other page</a>
    <!-- A really common bug or error that will be a head scratcher is if you accidentally leave an extra line here in the string either before you have this or after -->

    <a href="{% url 'admin:index' %}">Admin page</a>
    <!--in order for this to work sometimes you have to make the migration just because admin wants it that way-->
    
</body>
</html>